<h1>Lista de productos</h1>
<article>
  {{#if user.isAdmin }}
  <h2>Welcome Admin {{user.first_name}} {{user.last_name}}</h2>
  {{else}}
  <h2>Welcome User {{user.first_name}} {{user.last_name}}</h2>
  {{/if}}
  <a href="/api/sessions/logout">Log Out</a>
</article>
<article>
  <table>
    <tr>
      <th>Titulo</th>
      <th>Descripccion</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoria</th>
      <th>Codigo</th>
    </tr>
    <tbody>
      {{#each payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.type}}</td>
          <td>{{this.code}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>Página actual: {{page}}</p>
  <a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}} >Anterior</a>
  <a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}} >Siguiente</a>
</article>